.home-content {
  display: flex;
  flex-direction: column;
}
.home-content .tab-menu {
  position: sticky;
  top: 68px;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.home-content .tab-menu::-webkit-scrollbar {
  display: none;
}
.home-content .tab-menu .tab-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
  width: fit-content;
}
.home-content .tab-menu .tab-wrapper .tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: var(--blue400);
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 1;
}
.home-content .tab-menu .tab-wrapper button {
  position: relative;
  font-size: 15px;
  color: var(--black950);
  white-space: nowrap;
  padding: 10px 15px;
  z-index: 2;
}
.home-content .tab-menu .tab-wrapper button.active {
  color: var(--blue400);
  font-weight: 700;
}

.home-content .inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 0 50px 0;
}
.home-content .inner .main-banner {
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}
.home-content .inner .main-banner .swiper {
  position: relative;
  overflow: visible;
}
.home-content .inner .main-banner .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  aspect-ratio: 320 / 240;
  border-radius: 20px;
  transform: scaleY(0.85);
  transition: all 0.4s ease; /* 부드러운 전환 효과 */
  overflow: hidden;

}
.home-content .inner .main-banner .swiper .swiper-wrapper .swiper-slide-active {
  position: relative;
  transform: scaleY(1);
}
.home-content .inner .main-banner .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-content .inner .main-banner .swiper .swiper-pagination-badge {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 3px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 6px 3px 8px;
  border-radius: 20px;
}
.home-content .inner .main-banner .swiper .swiper-pagination-badge .pagination-info {
  display: flex;
  align-items: center;
  gap: 5px;
}
.home-content .inner .main-banner .swiper .swiper-pagination-badge .pagination-info span {
  font-size: 12px;
  color: #fff;
}
.home-content .inner .main-banner .swiper .swiper-pagination-badge .pagination-info .divider {
  display: block;
  width: 1px;
  height: 9px;
  background-color: #fff;
}
.home-content .inner .main-banner .swiper .swiper-pagination-badge .btn-view-all {
  display: block;
  width: 14px;
  height: 14px;
}
.home-content .inner .main-banner .swiper .swiper-pagination-badge .btn-view-all img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.home-content .inner .section-wrap {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.home-content .inner .section-wrap .event-nav {
  width: 100%;
  overflow-x: auto;
  padding: 0 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.home-content .inner .section-wrap .event-nav::-webkit-scrollbar {
  display: none;
}
.home-content .inner .section-wrap .event-nav .event-nav-list {
  display: flex;
  gap: 15px;
  width: max-content;
}
.home-content .inner .section-wrap .event-nav .event-nav-list .event-nav-item {
  width: 70px;
}
.home-content .inner .section-wrap .event-nav .event-nav-list .event-nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.home-content .inner .section-wrap .event-nav .event-nav-list .event-nav-item a .icon-circle {
  width: 70px;
  height: 70px;
  background-color: rgba(245, 240, 255, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.home-content .inner .section-wrap .event-nav .event-nav-list .event-nav-item a .icon-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-content .inner .section-wrap .event-nav .event-nav-list .event-nav-item a span {
  font-size: 13px;
  color: var(--black950);
  white-space: nowrap;
}

.product-section.best .product-container {
  width: 100%;
  padding: 0 16px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.product-section .product-container::-webkit-scrollbar {
  display: none;
}

.product-section.best .product-container .product-list {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  gap: 18px;
}
.product-section.best .product-container .product-list .product-item {
  width: 160px;
  flex: 0 0 160px;
}
.product-section.seol .product-container .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding: 0 16px;
}
.product-section.seol .product-container .product-list .product-item {
  width: calc(50% - 9px);
}
.mid-banner {
  width: 100%;
}
.mid-banner .swiper-slide {
  width: 100%;
  aspect-ratio:  639 / 213;
}
.mid-banner .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
