.app-container {
  max-width: 768px;
  margin: 0 auto;
  height: 100vh;
  background-color: #fff;
  padding: 68px 0 0 0;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

/* 하단 탭바가 있는 페이지 */
.app-container.has-tabbar {
  padding: 68px 0 59px 0;
}


.wrapper {
  width: 100%;
  padding: 0 16px;
}


.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  height: 68px;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.main-header .wrapper .logo {
  width: 80px;
  height: 22px;
}
.main-header .wrapper .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.search-header .wrapper .btn-back {
  width: 24px;
  height: 24px;
}
.search-header .wrapper .btn-back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.category-header {
  border-bottom: 1px solid var(--black100);
}
.category-header .wrapper .page-title {
  font-size: 20px;
  color: var(--black950);
}
.category-header .wrapper .search-btn {
  width: 24px;
  height: 24px;
}
.category-header  .search-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 하단 탭바 전체 컨테이너 */
.bottom-tab-bar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* 화면 가로 중앙 정렬 */
  width: 100%;
  max-width: 768px; /* index.html의 컨테이너와 동일한 너비 */
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid var(--black100);
  z-index: 9999;
  /* 아이폰 노치 등 안전 영역 대응 */
  padding-bottom: env(safe-area-inset-bottom);
}

.bottom-tab-bar .tab-list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.bottom-tab-bar .tab-list .tab-item {
  flex: 1;
  min-width: 0;
}

.bottom-tab-bar .tab-list .tab-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.bottom-tab-bar .tab-list .tab-item a span {
  font-size: 12px;
  color: var(--black950);
}

.bottom-tab-bar .tab-list  .tab-item.active a span {
  color: var(--blue400);
  font-weight: 600;
}

.bottom-tab-bar .tab-list .tab-item a .icon-box {
  position: relative;
  width: 24px;
  height: 24px;
}

.bottom-tab-bar .tab-list .tab-item a .icon-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bottom-tab-bar .tab-list .tab-item a .icon-box img.on-icon {
  opacity: 0;
}
.bottom-tab-bar .tab-list .tab-item.active a .icon-box img.on-icon {
  opacity: 1;
}
.bottom-tab-bar .tab-list .tab-item.active a .icon-box img.default-icon {
  opacity: 0;
}
