/* 스플래시 배경 */

.splash-screen {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  height: 100vh;
  background-color: #3617CE;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  z-index: 10000;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.logo-wrap {
  width: 40vw;
  max-width: 250px;
  min-width: 150px;
}
.logo-svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transform: translateY(30px);
  /* 0.8초 동안 부드럽게 상승하며 나타남 */
  animation: logoAppear 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes logoAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#split-text {
  margin-top: 15px;
  color: transparent;
  font-size: clamp(14px, 3vw, 3.5rem);
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.char {
  opacity: 0;
  color: #fff;
  transform: translateY(10px);
  display: inline-block;
  animation: textAppear 0.2s ease-out forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
